<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1004" targetFramework="net48" />
  <package id="Syncfusion.Compression.Base" version="16.3.0.36" targetFramework="net45" requireReinstallation="true" />
  <package id="Syncfusion.Licensing" version="16.3.0.36" targetFramework="net45" requireReinstallation="true" />
  <package id="Syncfusion.Pdf.WinForms" version="16.3.0.36" targetFramework="net45" requireReinstallation="true" />
</packages>